.input-class {
  font-family: 'Poppins';
  outline: none;
  border: 2px solid #aaa;
  border-radius: 20px;
  padding: 8px;
  margin: 10px;
  background: transparent;
  transition: all ease .3s;
}
.input-class:hover {
  padding: 7px;
}

@media (prefers-color-scheme: dark) {
  .input-class {
    border: 2px solid #666;
  }
}
