.grid-item {
  position: relative;
  overflow: hidden;
  padding: 10px 20px;
  border-radius: 18px;
  backdrop-filter: saturate(180%) blur(20px); 
  background: rgb(0,0,0,0.02); 
}
.elevated{
  box-shadow: 5px 5px 25px rgb(0,0,0,0.08);
}
.ripple-card {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.35);
  transform: scale(0);
  filter: blur(48px);
  animation: ripple-card 0.7s ease-out;
}

@keyframes ripple-card {
  to {
    transform: scale(3);
    opacity: 0;
  }
}

@media (prefers-color-scheme: dark) {
  .elevated{
    box-shadow: 5px 5px 25px rgb(250,250,250,0.08);
  }
  .ripple-card {
    background-color: rgba(255, 255, 255, 0.35);
  }
}

@media (max-width: 768px) {
  .ripple {
    filter: blur(24px);
  }
}
