.grid-item {
  padding: 10px 20px;
  border-radius: 18px;
  backdrop-filter: saturate(180%) blur(20px); 
  background: rgb(0,0,0,0.02); 
}
.grid-item * {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
