.header {
  width: calc(100vw - 40px);
  position: fixed;
  top: 0;
  margin: 0px;
  padding: 10px 20px;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10000;
  transition: all 0.3 ease;
}
.header h1 {
  margin: 0;
  padding: 10px 20px;
  font-family: 'Righteous';
  background: linear-gradient(45deg, #3333cc, #ff00cc);
  -webkit-background-clip: text;
  color: transparent;
}

@media (prefers-color-scheme: dark) {
  .header {
    color: #fff;
  }
}

@media (max-width: 768px) {
  .scrolled {
    border-bottom:solid 1px #ddd;
    backdrop-filter: saturate(180%) blur(20px); 
    background: rgb(0,0,0,0.02);
  }
  
  @media (prefers-color-scheme: dark) {
    .scrolled{
      border-bottom:solid 1px #666;
    }
  }
}
