.link {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 5px;
  border-radius: 8px;
  backdrop-filter: saturate(180%) blur(20px); 
  background: rgb(0,0,0,0.08);
  color: #666;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  .link{
    background: rgb(250,250,250,0.08);
    color: #aaa;
  }
}

.inline {
  padding: 0;
  font-family: 'Righteous';
  background: linear-gradient(45deg, #3333cc, #ff00cc);
  -webkit-background-clip: text;
  color: transparent;
}
