.link {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 5px;
  border-radius: 8px;
  backdrop-filter: saturate(180%) blur(20px); 
  background: rgb(0,0,0,0.08);
  color: #aaa;
  text-decoration: none;
}
