.main-img{
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border:solid 1px #fff;
  margin:15px calc(50vw - 120px); 
  box-shadow: 5px 5px 25px rgb(0,0,0,0.2);
}
.main{
  padding: 90px 20px;
  min-height: 80vh;
  width: calc(100vw - 40px);
}
