.video{
  width: 100%;
  border-radius: 25px;
  border:solid 1px #fff;
  box-shadow: 5px 5px 25px rgb(0,0,0,0.2);
}
.main{
  padding: 90px 20px;
  min-height: 80vh;
  width: calc(100vw - 40px);
}
.interestedImg{
  width: 100%;
}

@media (prefers-color-scheme: dark) {
  .main{
    background: #111;
    color: #fff;
  }
  .video {
    box-shadow: 5px 5px 25px rgb(255,255,255,0.2);
  }
}
